@{
    ViewBag.Title = "Równanie kwadratowe";
}

<h3>Kalkulator równań kwadratowych</h3>
<div class="equation-box">
    <p>Równanie: @ViewBag.equation</p>
    <p class=@ViewBag.cssClass>Opis: @ViewBag.message</p>
</div>
<div class="solution-box">
    <p class=@ViewBag.cssClass>Rozwiązanie - @ViewBag.solution</p>
</div>

<p>
    <a href="/">Powrót do strony głównej</a>
</p>