@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Lab10.Models.Article>
@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

@{
    await Html.RenderPartialAsync("_ArticleGrid");
}

@if (!Model.Any())
{
    <div class="alert alert-info text-center mt-4">
        <h3>Your cart is empty!</h3>
        <a asp-controller="Shop" asp-action="Index" class="btn btn-primary mt-2">Back to the shop</a>
    </div>
} else
{
    <h4 class="text-end fw-bold mt-4 bg-light p-3 rounded">Total price: @ViewBag.TotalPrice.ToString("C")</h4>
    <div class="text-end">
        <a asp-controller="Cart" asp-action="Checkout" class="btn btn-success btn-lg mt-3">Proceed to checkout</a>
    </div>
}