.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

dialog {
    width: 50%;
    max-width: 30rem;
    overflow: hidden;
    background-color: rgb(164, 235, 246);
    border-radius: 12px;
    border: none;
    position: fixed;
    top: 10px;
    z-index: 101;
}

form p {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 80%;
  padding: 12px;
  border: 2px solid #eee; 
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

button {
  border-radius: 12px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
}